*
{
    box-sizing: border-box;
}



.main-log
{
    border: 1px solid black;
    width: 80vh;
    margin-top: 5%;
    padding: 50px;
    height: 40vh;
    border-radius: 30px;
}

.logs
{
    gap: 15px;
}
input[type=text]
{
    padding-bottom: 20px;
}

input[type=password]
{
    padding-bottom: 20px;
}

 #gtext
{
    padding-bottom: 10px;
}

.content .word
{
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 24px;
    margin-right: -24px;
    text-transform: uppercase;
    margin-top: 50px;
}

.content .details
{
    margin: 25px 0 20px;
   
}

.details p
{
    font-weight: bold;
    margin-top: 80px;
}

.details span
{
    font-weight: 200;
}

.buttons button
{

    width: 150px;
}
.buttons
{
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 7px;
}




    .waviy {
        text-align: center;
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        font-size: 60px;
        font-weight: bold;
        margin-top: 40px;
      }
      .waviy span {
        position: relative;
        display: inline-block;
        color: black;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.2s * var(--i));
        
      }
      @keyframes waviy {
        0%,40%,100% {
          transform: translateY(0)
        }
        20% {
          transform: translateY(-20px)
        }
      }


/*------------------------Index ---------------*/
.cat-header h1
{
    text-align: center;
    margin: 50px;
    padding: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    
}

.cat-header
{
    
    animation-timing-function: ease;
 
  position: relative;
  transition: width 1s, height 1s, transform 1s;
  animation: rotaion;

}



.card
{
   text-align: center;
   cursor: pointer;
   box-shadow: 3px 3px 15px 3px rgb(233, 233, 233);
   
}

.card:hover
{
    
      
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
      
}




/*------------Animation-----*/
@keyframes rotation {
   
   0% {transform: rotate(180deg);}
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }